{:highlights [{:id #uuid "66167e8e-ac8f-4ccf-a6b5-d51a55ebd7ae",
               :page 2,
               :position {:bounding {:x1 192.39682006835938,
                                     :y1 1290.0625,
                                     :x2 409.64044189453125,
                                     :y2 1312.0625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 192.39682006835938,
                                   :y1 1290.0625,
                                   :x2 409.64044189453125,
                                   :y2 1312.0625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "quantitative and qualitative"},
               :properties {:color "yellow"}}
              {:id #uuid "66167fae-dca3-4bb9-a003-96a4ca20d459",
               :page 3,
               :position {:bounding {:x1 107.953125,
                                     :y1 729.953125,
                                     :x2 589.015625,
                                     :y2 777.640625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 236.249755859375,
                                   :y1 729.953125,
                                   :x2 584.9591064453125,
                                   :y2 751.953125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 753.875,
                                   :x2 572.28125,
                                   :y2 775.875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 583.46875,
                                   :y1 753.875,
                                   :x2 589.015625,
                                   :y2 775.875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 574.421875,
                                   :y1 761.640625,
                                   :x2 585.875,
                                   :y2 777.640625,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "During the evaluation step, the descriptors are determined based on the current descriptor function Dθ ."},
               :properties {:color "yellow"}}
              {:id #uuid "66167fe5-03fc-4ea5-9b1b-20221ea585aa",
               :page 3,
               :position {:bounding {:x1 107.953125,
                                     :y1 801.5625,
                                     :x2 587.948974609375,
                                     :y2 943.140625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 320.49041748046875,
                                   :y1 801.5625,
                                   :x2 584.968505859375,
                                   :y2 823.5625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 825.46875,
                                   :x2 584.961181640625,
                                   :y2 847.46875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 849.390625,
                                   :x2 584.9605712890625,
                                   :y2 871.390625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 873.3125,
                                   :x2 587.948974609375,
                                   :y2 895.3125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 897.234375,
                                   :x2 582.9837646484375,
                                   :y2 919.234375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 921.140625,
                                   :x2 480.6268310546875,
                                   :y2 943.140625,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "This dynamic interaction between individuals and their niche definitions propels a continuous cycle of discovery, where the emergence of new individuals encourages the realignment of niche boundaries. This mechanism allows AURORA to adaptively define niches based on the evolving landscape of the population itself."},
               :properties {:color "yellow"}}
              {:id #uuid "6616803c-2f45-4400-ab9a-af66428c8199",
               :page 3,
               :position {:bounding {:x1 107.953125,
                                     :y1 109.671875,
                                     :x2 1119.3687744140625,
                                     :y2 1407.734375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 639.046875,
                                   :y1 109.671875,
                                   :x2 1119.3687744140625,
                                   :y2 131.671875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.046875,
                                   :y1 133.578125,
                                   :x2 1054.14892578125,
                                   :y2 155.578125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 509.296875,
                                   :y1 1337.890625,
                                   :x2 588.3410034179688,
                                   :y2 1359.890625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 1361.8125,
                                   :x2 584.9676513671875,
                                   :y2 1383.8125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 1385.734375,
                                   :x2 584.9600830078125,
                                   :y2 1407.734375,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "Additionally, the concept of truly unbounded evolution is questioned by the eventual fate of our universe: the theoretical heat death suggests that even nature’s seemingly infinite wellspring of novelty and creativity is ultimately finite "},
               :properties {:color "yellow"}}
              {:id #uuid "6616806c-3c30-44ae-b34a-bdd14f3ec32f",
               :page 3,
               :position {:bounding {:x1 639.046875,
                                     :y1 1218.3125,
                                     :x2 1116.7568359375,
                                     :y2 1288.140625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 1027.813720703125,
                                   :y1 1218.3125,
                                   :x2 1116.0562744140625,
                                   :y2 1240.3125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.046875,
                                   :y1 1242.21875,
                                   :x2 1116.7568359375,
                                   :y2 1264.21875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.046875,
                                   :y1 1266.140625,
                                   :x2 978.849609375,
                                   :y2 1288.140625,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "We adopt a methodology that is not goal-directed, making it inherently closer to the nature of biological evolution"},
               :properties {:color "yellow"}}
              {:id #uuid "661681c1-4b1d-4159-9ff3-e863f25f4579",
               :page 4,
               :position {:bounding {:x1 639.046875,
                                     :y1 1082.5625,
                                     :x2 704.554931640625,
                                     :y2 1107.5625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 639.046875,
                                   :y1 1082.5625,
                                   :x2 704.554931640625,
                                   :y2 1107.5625,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text "Soliton"},
               :properties {:color "yellow"}}
              {:id #uuid "6616828d-63fb-46fb-b42b-26c800cbba1a",
               :page 5,
               :position {:bounding {:x1 639.046875,
                                     :y1 349.484375,
                                     :x2 1118.55419921875,
                                     :y2 395.40625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 639.046875,
                                   :y1 349.484375,
                                   :x2 1118.55419921875,
                                   :y2 371.484375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.046875,
                                   :y1 373.40625,
                                   :x2 941.218505859375,
                                   :y2 395.40625,
                                   :width 1224,
                                   :height 1584}),
                          :page 5},
               :content {:text "latent vector back to the original input to compute the loss, that is optimized via gradient descent."},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
