{:highlights [{:id #uuid "66167e8e-ac8f-4ccf-a6b5-d51a55ebd7ae",
               :page 2,
               :position {:bounding {:x1 192.39682006835938,
                                     :y1 1290.0625,
                                     :x2 409.64044189453125,
                                     :y2 1312.0625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 192.39682006835938,
                                   :y1 1290.0625,
                                   :x2 409.64044189453125,
                                   :y2 1312.0625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "quantitative and qualitative"},
               :properties {:color "yellow"}}
              {:id #uuid "66167fae-dca3-4bb9-a003-96a4ca20d459",
               :page 3,
               :position {:bounding {:x1 107.953125,
                                     :y1 729.953125,
                                     :x2 589.015625,
                                     :y2 777.640625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 236.249755859375,
                                   :y1 729.953125,
                                   :x2 584.9591064453125,
                                   :y2 751.953125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.953125,
                                   :y1 753.875,
                                   :x2 572.28125,
                                   :y2 775.875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 583.46875,
                                   :y1 753.875,
                                   :x2 589.015625,
                                   :y2 775.875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 574.421875,
                                   :y1 761.640625,
                                   :x2 585.875,
                                   :y2 777.640625,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "During the evaluation step, the descriptors are determined based on the current descriptor function Dθ ."},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
