{:highlights [{:id #uuid "65d48090-91ce-4113-b5e8-c95d59130dc9",
               :page 6,
               :position {:bounding {:x1 225.57142859697342,
                                     :y1 78.14306640625,
                                     :x2 526.5714285969734,
                                     :y2 346.14306640625,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1708425359035},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
