{:highlights [{:id #uuid "6703fd20-f78a-4c73-962f-ed385ca5e2bf",
               :page 9,
               :position {:bounding {:x1 94.59821972995996,
                                     :y1 412.6250247955322,
                                     :x2 441.5700825229287,
                                     :y2 450.9910831451416,
                                     :width 536,
                                     :height 693.6470588235294},
                          :rects ({:x1 234.28395733982325,
                                   :y1 412.6250247955322,
                                   :x2 441.384238101542,
                                   :y2 422.339319229126,
                                   :width 536,
                                   :height 693.6470588235294}
                                  {:x1 94.59821972995996,
                                   :y1 422.1964359283447,
                                   :x2 441.27119336277246,
                                   :y2 431.9107303619385,
                                   :width 536,
                                   :height 693.6470588235294}
                                  {:x1 94.59821972995996,
                                   :y1 431.76787757873535,
                                   :x2 441.5700825229287,
                                   :y2 441.4821720123291,
                                   :width 536,
                                   :height 693.6470588235294}
                                  {:x1 94.59821972995996,
                                   :y1 441.276819229126,
                                   :x2 381.9085529819131,
                                   :y2 450.9910831451416,
                                   :width 536,
                                   :height 693.6470588235294}),
                          :page 9},
               :content {:text "While Modular systems outperform Monolithic ones, the margin of improvement is often small. This is because when solely relying on back-propagation of the task-losses, these models do not discover perfect specialization. In fact, the problem of poor specialization and high collapse becomes worse with increasing number of rule"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
