{:highlights [{:id #uuid "65d48102-013e-4516-ad73-dfe37cee4de0",
               :page 2,
               :position {:bounding {:x1 70,
                                     :y1 55,
                                     :x2 361,
                                     :y2 158,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1708425473039},
               :properties {:color "yellow"}}
              {:id #uuid "65d48126-84a3-431e-85cb-bbf64b22134d",
               :page 8,
               :position {:bounding {:x1 390,
                                     :y1 47.28564453125,
                                     :x2 709,
                                     :y2 368.28564453125,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1708425508541},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
