{:highlights [{:id #uuid "65d48349-54ff-4e45-90a3-c6ff3ae478a5",
               :page 3,
               :position {:bounding {:x1 118,
                                     :y1 676.28564453125,
                                     :x2 334,
                                     :y2 795.28564453125,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1708426056420},
               :properties {:color "yellow"}}
              {:id #uuid "65d483e3-06ce-447f-9966-ed3609e5b839",
               :page 3,
               :position {:bounding {:x1 133,
                                     :y1 375,
                                     :x2 291,
                                     :y2 423,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1708426210046},
               :properties {:color "yellow"}}
              {:id #uuid "65d4849a-36b1-4ade-81e7-bcec1a039f65",
               :page 6,
               :position {:bounding {:x1 49,
                                     :y1 45,
                                     :x2 718,
                                     :y2 229,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1708426393529},
               :properties {:color "yellow"}}
              {:id #uuid "65d484ab-c5e8-4152-a11b-f0ee719fc3be",
               :page 6,
               :position {:bounding {:x1 37,
                                     :y1 249,
                                     :x2 720,
                                     :y2 422,
                                     :width 767,
                                     :height 992.5882352941177},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1708426409781},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
